IO_LOC  "key" 3;
IO_PORT "key" IO_TYPE=LVCMOS18;

IO_LOC  "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18;

IO_LOC  "tx" 10;
IO_PORT "tx" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led0" 10;
IO_PORT "led0" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led_0" 10;
IO_PORT "led_0" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;

IO_LOC  "led1" 11;

IO_LOC  "led_1" 11;

IO_LOC  "led[2]" 13;

IO_LOC  "led2" 13;

IO_LOC  "led_2" 13;

IO_LOC  "led[3]" 14;

IO_LOC  "led3" 14;

IO_LOC  "led_3" 14;

IO_LOC  "led[4]" 15;

IO_LOC  "led4" 15;

IO_LOC  "led_4" 15;

IO_LOC  "led[5]" 16;

IO_LOC  "led5" 16;

IO_LOC  "led_5" 16;

IO_LOC  "uartTx" 48;
IO_PORT "uartTx" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uartRx" 49;
IO_PORT "uartRx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sdClk" 36;
IO_PORT "sdClk" IO_TYPE=LVCMOS33;

IO_LOC  "sdMosi" 37;
IO_PORT "sdMosi" IO_TYPE=LVCMOS33;

IO_LOC  "sdCs" 38;
IO_PORT "sdCs" IO_TYPE=LVCMOS33;

IO_LOC  "sdMiso" 39;
IO_PORT "sdMiso" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashClk" 59;
IO_PORT "flashClk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashCs" 60;
IO_PORT "flashCs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMosi" 61;
IO_PORT "flashMosi" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMiso" 62;
IO_PORT "flashMiso" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "hdmiTmdsClk" 69,68;
IO_PORT "hdmiTmdsClk" DRIVE=8;

IO_LOC  "hdmiTmdsData[0]" 71,70;
IO_PORT "hdmiTmdsData[0]" DRIVE=8;

IO_LOC  "hdmiTmdsData[1]" 73,72;
IO_PORT "hdmiTmdsData[1]" DRIVE=8;

IO_LOC  "hdmiTmdsData[2]" 75,74;
IO_PORT "hdmiTmdsData[2]" DRIVE=8;

IO_LOC  "i2cSda" 31;
IO_PORT "i2cSda" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "i2cScl" 32;
IO_PORT "i2cScl" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ioCs" 72;
IO_PORT "ioCs" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ioDc" 71;
IO_PORT "ioDc" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ioReset" 70;
IO_PORT "ioReset" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ioSdin" 48;
IO_PORT "ioSdin" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ioSclk" 49;
IO_PORT "ioSclk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "IO86" 86;
IO_PORT "IO86" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO85" 85;
IO_PORT "IO85" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO84" 84;
IO_PORT "IO84" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO83" 83;
IO_PORT "IO83" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO82" 82;
IO_PORT "IO82" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO81" 81;
IO_PORT "IO81" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO80" 80;
IO_PORT "IO80" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO79" 79;
IO_PORT "IO79" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "IO69" 69;
IO_PORT "IO69" IO_TYPE=LVCMOS33;

IO_LOC  "IO68" 68;
IO_PORT "IO68" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO57" 57;
IO_PORT "IO57" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO56" 56;
IO_PORT "IO56" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO55" 55;
IO_PORT "IO55" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO54" 54;
IO_PORT "IO54" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO53" 53;
IO_PORT "IO53" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO51" 51;
IO_PORT "IO51" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO48" 48;
IO_PORT "IO48" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO49" 49;
IO_PORT "IO49" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO_70" 70;
IO_PORT "IO_70" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "IO_71" 71;
IO_PORT "IO_71" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "l1" 77;
IO_PORT "l1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "l2" 76;
IO_PORT "l2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "l3" 75;
IO_PORT "l3" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "l4" 74;
IO_PORT "l4" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sck1" 38;
IO_PORT "sck1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sda1" 37;
IO_PORT "sda1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "res1" 36;
IO_PORT "res1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "dc1" 39;
IO_PORT "dc1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "cs1" 25;
IO_PORT "cs1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "adc_sda" 26;
IO_PORT "adc_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "adc_scl" 27;
IO_PORT "adc_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 29;
IO_PORT "btn1" IO_TYPE=LVCMOS33;

IO_LOC  "btn2" 28;
IO_PORT "btn2" IO_TYPE=LVCMOS33;

IO_LOC  "btn3" 30;
IO_PORT "btn3" IO_TYPE=LVCMOS33;

IO_LOC  "btn4" 33;
IO_PORT "btn4" IO_TYPE=LVCMOS33;

IO_LOC  "mpu_sda" 40;
IO_PORT "mpu_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "mpu_scl" 34;
IO_PORT "mpu_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "pwm" 35;
IO_PORT "pwm" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "pir" 41;
IO_PORT "pir" IO_TYPE=LVCMOS33;

IO_LOC  "buzzer" 54;
IO_PORT "buzzer" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sck2" 55;
IO_PORT "sck2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "sda2" 56;
IO_PORT "sda2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "res2" 57;
IO_PORT "res2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "dc2" 68;
IO_PORT "dc2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "cs2" 69;
IO_PORT "cs2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "A1" 86;
IO_PORT "A1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "A2" 85;
IO_PORT "A2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "A3" 84;
IO_PORT "A3" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "A4" 83;
IO_PORT "A4" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "B1" 82;
IO_PORT "B1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "B2" 81;
IO_PORT "B2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "B3" 80;
IO_PORT "B3" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "B4" 79;
IO_PORT "B4" IO_TYPE=LVCMOS18 PULL_MODE=UP;
